.pop-list {
  --scale-close: 0.5;
  --scale-open: 1;

  display: flex;
  position: fixed;
  scale: var(--scale-close);
  opacity: 0;
  z-index: 99999999999;
  transition:
    opacity 0.1s,
    width 0.1s,
    scale 0.06s;
  border-radius: 9999px;
  padding-inline: 4px;
  height: 20px;
  font-weight: 500;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  pointer-events: none;
  font-family: sans-serif;

  &[data-open='true'] {
    transition:
      all 0.1s,
      scale 0.06s,
      translate 0.03s;
  }

  &.large {
    --scale-open: 1.2;
  }

  &.dark {
    .img {
      opacity: 0.7;
      filter: invert(1);
    }
  }

  &.text {
    padding-inline: 6px;

    .img {
      background: none !important;
      padding-inline: 4px;
      width: auto;
      text-indent: 0;
    }

    &.uppercase {
      .img {
        font-size: 10px;
        text-transform: uppercase;
      }
    }
  }

  .hide {
    display: none;
  }

  .img {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    transition: scale 0.1s;
    cursor: pointer;
    background-size: 12px !important;
    width: 23px;
    height: 100%;
    font-size: 11px;
    text-indent: -9999px;

    &:active {
      scale: 0.95;
    }
  }
}

.glass {
  backdrop-filter: blur(4px);
  box-shadow:
    inset -1px -1px 1.5px rgb(255 255 255 / 0.9),
    inset 1px 1px 1.5px rgb(0 0 0 / 0.05),
    -1px -1px 1.5px rgb(255 255 255 / 0.2),
    -0.5px -0.5px 0 rgb(0 0 0 / 0.15),
    0.5px 0.5px 0 rgb(0 0 0 / 0.05),
    0 1px 2px rgb(0 0 0 / 0.25);
  background: rgb(235 235 235 / 0.85);

  &.dark {
    box-shadow:
      inset -1px -1px 1.5px rgb(255 255 255 / 0.15),
      inset 1px 1px 1.5px rgb(0 0 0 / 0.05),
      -1px -1px 1.5px rgb(255 255 255 / 0.1),
      -0.5px -0.5px 0 rgb(0 0 0 / 0.15),
      0.5px 0.5px 0 rgb(0 0 0 / 0.6),
      0 1px 2px rgb(0 0 0 / 0.6);
    background: rgb(30 30 30 / 0.85);
  }
}
