.loading {
  --bg: rgb(0 0 0 / 0.2);

  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 4.5px;
  inset: 0;

  > div {
    animation: loadingWave 0.5s linear both infinite;
    background: var(--bg);
    width: 2.5px;
    height: 10px;

    &:nth-of-type(1) {
      animation-delay: 0ms;
    }

    &:nth-of-type(2) {
      animation-delay: 200ms;
    }

    &:nth-of-type(3) {
      animation-delay: 400ms;
    }
  }
}

@keyframes loadingWave {
  0%,
  100% {
    height: 4px;
  }

  50% {
    height: 10px;
  }
}
